/* #region ||||| UTILITIES RULES ||||| */

:root {
  --db-primary: rgba(5, 30, 52, 1);
  --db-secondary: rgba(27, 114, 232, 1);
  --db-secondary_dark: rgba(22, 91, 186, 1);
  --db-bg_light: rgba(247, 247, 247, 1);
  --db-bg_lighter: rgba(255, 255, 255, 1);
  --db-font_light: rgba(255, 255, 255, 1);
  --db-font_dark: rgba(33, 37, 41, 1);
  --db-search_bar: rgba(229, 229, 229, 1);
  --db-bell: rgba(255, 143, 0, 1);
  --db-table_icon_bg: rgba(242, 101, 81, 1);
  --db-sidebar_link_hover_bg: rgba(185, 185, 185, 0.5);
}

._bg_primary {
  background-color: var(--db-primary);
}

._bg_secondary_dark {
  background-color: var(--db-secondary_dark);
}

._icon_bg {
  width: 30px;
  height: 30px;
  padding: 0.3rem;
  background-color: var(--db-table_icon_bg);
}

/* #endregion ||||| UTILITIES RULES ||||| */


/* #region ||||| DEBUG RULES ||||| */

/* .debug {
   
  #site_header {

    background-color: lightcyan;

    ._search {

      background-color: lightblue;
    }

    ._logo,
    ._header_menu {

      background-color: lightskyblue;
      min-width: 80px;
    }
  } 

  ._app {

    ._dashboard_body {
       

      ._next_classes {
        height: 450px;
      } 

       ._faq {
        height: 250px;
      } 
       
      ._todo {
        height: 200px;
      } 

       ._analytics {
        height: 600px;
      }
    }
  }
} */


/* #endregion ||||| DEBUG RULES ||||| */


/* #region ||||| COMMON RULES ||||| */

body {
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;

  a {
    text-decoration: none;
  }
}

/* #endregion ||||| COMMON RULES ||||| */


/* #region ||||| HEADER RULES ||||| */

#site_header {
  height: 70px;
  background-color: var(--db-bg_lighter);

  ._logo {
    height: 70px;
    flex-grow: 1;
  }

  ._mobile_logo {
    max-height: 70%;
  }

  ._search {
    width: 90%;
    height: 50px;

    ._search_bar {
      width: 100%;
      height: 45px;
      background-color: var(--db-search_bar);

      i {
        color: var(--db-font_dark);
        padding: 0.5rem;
      }

      input[type=search] {
        width: 100%;
        background-color: var(--db-search_bar);
        border: none;
        outline: none;
        font-size: 0.9rem;
        font-weight: 500;
        line-height: 1px;
      }
    }
  }

  .navbar {
    flex-grow: 1;

    ul {

      a {
        color: var(--db-font_dark);
      }

      .fa-bell {
        color: var(--db-bell);
      }
    }
  }
}

/* #endregion ||||| HEADER RULES ||||| */

/* #region ||||| APP RULES ||||| */

._app {
  height: calc(100% - 70px);

  ._sidebar {
    max-width: 150px;
    min-width: 60px;
    height: 100%;
    flex-shrink: 0;

    a {
      text-decoration: none;
      color: var(--db-font_light);
    }
  }

  ._sidebar {

    a:hover {
      background-color: var(--db-sidebar_link_hover_bg);
      border-radius: 4px;
    }
  }

  ._dashboard {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    background-color: var(--db-bg_light);

    ._dashboard_top {
      background-color: var(--db-secondary);
      color: var(--db-font_light);

      ._add_new_student {
        min-width: 180px;
      }

      .offcanvas {

        @media screen and (max-width:991px) {
          width: 100%;
        }

        @media screen and (min-width:992px) {
          width: 50%;
        }
      }

      ._plan {
        .badge {
          font-size: 0.9rem;
        }
      }
    }

    ._dashboard_body {

      ._next_classes {

        table {
          thead {
            th:first-child {
              width: 60%;
            }
          }
        }
      }

      ._faq {

        .accordion {

          div:nth-child(3) {
            .accordion-body {

              span {
                text-decoration: line-through;
              }
            }
          }
        }
      }
    }
  }
}

/* #endregion ||||| APP RULES ||||| */