/* #region ||||| UTILITIES RULES ||||| */

:root {
  --db-primary: rgba(5, 30, 52, 1);
  --db-secondary: rgba(27, 114, 232, 1);
  --db-bg_light: rgba(247, 247, 247, 1);
  --db-bg_lighter: rgba(255, 255, 255, 1);
  --db-font_light: rgba(255, 255, 255, 1);
  --db-font_dark: rgba(33, 37, 41, 1);
}


/* #endregion ||||| UTILITIES RULES ||||| */


/* #region ||||| DEBUG RULES ||||| */

.debug {

  #site_header {
    background-color: lightcyan;
    height: 10svh;

    ._logo,
    ._search_bar,
    ._header_menu {
      height: 70px;
    }

    ._search_bar {
      width: 80%;
      background-color: lightblue;
    }

    ._logo,
    ._header_menu {
      flex-grow: 1;
      background-color: lightskyblue;
      min-width: 80px;
    }
  }

  #site_main {
    background-color: var(--db-bg_light);

    ._nav_menu {
      background-color: var(--db-primary);
      height: 90vh;
    }

    ._dashboard {
      height: 90vh;

      ._dashboard_top {
        background-color: var(--db-secondary);
        height: 150px;
      }

      ._dashboard_body {
        background-color: var(--db-bg_light);

        ._next_classes {
          height: 450px;
        }

        ._faq {
          height: 250px;
        }

        ._todo {
          height: 200px;
        }

        ._analytics {
          height: 600px;
        }
      }
    }
  }
}

/* #endregion ||||| DEBUG RULES ||||| */


/* #region ||||| COMMON RULES ||||| */



/* #endregion ||||| COMMON RULES ||||| */


/* #region ||||| MAIN RULES ||||| */



/* #endregion ||||| MAIN RULES ||||| */